<!DOCTYPE html>
<html lang="en">

      {{template "head" .}}
<body>
    <!-- Header -->
    <header class="header" id="home">
        <!-- Navigation -->
        
        {{template "navlogin" .}}
        
        <!-- LoginBox -->
        <div class="loginBox">
            <h2>Log In Here</h2>
            <form action="/user/login" method="post">
                <p>Email</p>
                <input type="text" name="email" placeholder="Enter Email">
                <p>Password</p>
                <input type="password" name="password" placeholder="••••••••">
                
        
                <input type="submit" name="" method="post" value="LOGIN">
                <hr />

                <h5>Sign Up Using</h5>
                    <ul class="login-ul">
                            <li class="login-li"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="login-li"><a href="#" class="line"><i class="fa fa-line"></i></a></li>
                            <li class="login-li"><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                            <li class="login-li"><a href="#" class="phoneNumber"><i class="fa fa-phoneNumber"></i></a></li>
                    </ul>
                
                <h4>Create account? <a href="/user/signup" class="txt2"> Register</a></h4>
            </form>
        </div>
    </header>
    {{template "footer" .}}
</body>
</html>