<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
<body>
    <!-- Header -->
    <header class="header" id="home">
      <!-- Navigation -->
      {{template "navigation"}}

    <!-- SignUpBox -->
    <div class="loginBox">
        <h2>Sigh Up Here</h2>
        <form action="/user/signup" method="post" >
            <p>Name</p>
            <input type="text" name="name" placeholder="Name">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="password" placeholder="••••••••">
            <input type="submit" name="submit" value="SIGNUP">

        

            <hr />

            <h5>Sign Up Using</h5>
                <ul class="login-ul">
                    <li class="login-li"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="login-li"><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                </ul>

            <h4>Already have an account ! <a href="/user/login" class="txt2"> Login</a></h4>
        </form>
    </div>
    </header>
    {{template "footer" .}}
</body>
</html>