<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
<body>
<header class="header" id="home">
   {{template "navigation" .}}
	<section class="section" >
		<div class="orderBox">
			<!-- 遍歷每種食物類型 -->
			{{range $foodType, $items := .categorizedMenu}}
			<section>
				<p>{{$foodType}}</p> 
				<table>
					<tr>
						<td>品項</td>
						<td>描述</td>
						<td>單價</td>
						<td>數量</td>
					</tr>
					<!-- 遍歷當前食物類型的所有菜單項目 -->
					{{range $items}}
					<tr>
						<td>{{ .Name }}</td>
						<td>{{ .Description }}</td>
						<td>{{ .Price }}</td>
						<td>
							<input type="number" class="quantity" min="0" value="0" data-price="{{ .Price }}" style="text-align:center;width: 50px;"/>
						</td>
					</tr>
					{{end}}
				</table>
			</section>
			{{end}}
			<section>
				<div>
					<span> 總金額 <span id="totalPrice"></span>元</span> 
					<input type="button" name="submit" value="放入購物車" onclick="submitOrder()"></input>
				</div>
			</section>
		</div>
	</section>
</header>

	{{template "footer" .}}

	 <!-- Custom Script -->
	 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	 <script src="./static/js/index.js"></script>
	
</body>
</html>

//////////
<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
<body>
<header class="header" id="home">
   {{template "navigation" .}}
	<section class="section" >
		<div class="orderBox">
			<!-- 遍歷每種食物類型 -->
			<form action="/submit-order" method="post">
				<!-- 遍历每种食物类型并创建输入字段 -->
				{{range $foodType, $items := .categorizedMenu}}
				<section>
					<p>{{$foodType}}</p>
					<table>
						<tr>
							<td>品項</td>
							<td>描述</td>
							<td>單價</td>
							<td>數量</td>
						</tr>
						<!-- 遍歷當前食物類型的所有菜單項目 -->
						{{range $index, $item := $items}}
						<tr>
							<td>{{ $item.Name }}</td>
							<td>{{ $item.Description }}</td>
							<td>{{ $item.Price }}</td>
							<td>
								<input type="number"  class="quantity" name="items[{{$index}}][quantity]" min="0" value="0" data-price="{{ $item.Price }}" style="text-align:center;width: 50px;"/>
							</td>
						</tr>
						{{end}}
					</table>
				</section>
				{{end}}
				<section>
					<div>
						<span> 總金額 <span id="totalPrice"></span>元</span> 
						<input type="button" name="submit" value="放入購物車" onclick="submitOrder()"></input>
						<!-- <button type="submit">放入購物車</button> -->
					</div>
				</section>
			</form>
			
		</div>
	</section>
</header>

	{{template "footer" .}}

	 <!-- Custom Script -->
	 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	 <script src="./static/js/index.js"></script>
	
</body>
</html>
