{{define "base"}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Favicon -->
      <!-- Font Awesome -->
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      />
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
      <!-- Custom StyleSheet -->
      <link rel="stylesheet" href="./static/css/styles.css" />
      <title>Restaurant Website</title>
    </head>
    <body>
      <!-- Header -->
      <header class="header" id="home">

        <!-- Navigation -->
        <nav class="nav">
          <div class="navigation container">
            <div class="logo">
              <h1><span>! </span>HealthyFood<span> !</span></h1>
            </div>

            <div class="menu">
              <div class="top-nav">
                <div class="logo">
                  <h1>FastFood<span>.</span></h1>
                </div>
                <div class="close">
                  <i class="fas fa-times"></i>
                </div>
              </div>

              <ul class="nav-list">
                <li class="nav-item">
                  <a href="/static/templates/home.tmpl" class="nav-link scroll-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="/static/templates/about.tmpl" class="nav-link scroll-link">About</a>
                </li>
                <li class="nav-item">
                  <a href="/static/templates/menu.tmpl" class="nav-link scroll-link">Menu</a>
                </li>
                <li class="nav-item">
                  <a href="#testimonials" class="nav-link scroll-link"
                    >Member</a>
                </li>
                <li class="nav-item">
                  <a href="#contact" class="nav-link scroll-link">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="/static/templates/login.tmpl" class="nav-link scroll-link">Longin</a>
                </li>
              </ul>
            </div>

            <div class="hamburger">
              <i class="fas fa-bars"></i>
            </div>
          </div>
        </nav>

        <!-- Hero -->
        <div class="hero" data-aos="fade-down" data-aos-duration="2000">
          <div class="content">
            <h1>Eat in a healthier way</h1>
            <p>
              Eating in a healthier way is about making conscious choices 
              that nourish your body with essential nutrients, while avoiding 
              excessive amounts of unhealthy foods.
            </p>
            <a href="/static/templates/menu.tmpl" data-aos="flip-down" data-aos-duration="2000">OUR MENU</a>
          </div>
        </div>
        
      </header>
      
      <!-- Main -->

      {{block "content" .}}

      {{end}}


      <!-- Footer -->
      <footer class="footer">
        <p>Copyright &copy; 2023<span>ZhijiunY</span>. All Right Reserved</p>
      </footer>

      {{block "js" .}}

      {{end}}

      <!-- Custom Script -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="./static/js/index.js"></script>
      <!-- <script src="static/index.js"></script> -->
    </body>
  </html>
{{end}}
