{{template "base" .}}

{{define "content"}}

<!-- Hero -->
<div class="hero" data-aos="fade-down" data-aos-duration="2000">
    <div class="content">
      <h1>Eat in a healthier way</h1>
      <p>
        Eating in a healthier way is about making conscious choices 
        that nourish your body with essential nutrients, while avoiding 
        excessive amounts of unhealthy foods.
      </p>
      <a href="/static/templates/menu.tmpl" data-aos="flip-down" data-aos-duration="2000">OUR MENU</a>
    </div>
  </div>

{{end}}