<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    <!--Navigation -->
    {{template "navigation" .}}

    
    <!-- Main -->

    <!-- Menu -->
    <section class="section" id="menu">
      <div class="title">
        <h1>Our Menu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, autem!
        Id quibusdam sint beatae sed dignissimos voluptatum excepturi consequuntur eos.</p>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, assumenda?
        Iusto incidunt soluta architecto animi ad pariatur eaque ea ipsum!"
        Fugiat minima quisquam sed labore, at quae provident nobis odit!</p>
      </div>
      <div class="container menu-center">
        <div class="menu-box" data-aos="fade-right" data-aos-duration="2000">
          <img src="static/img/pic1.jpg" alt="" />
          <p>Special Hambuger</p>
        </div>
        <div class="menu-box" data-aos="fade-down" data-aos-duration="2000">
          <img src="static/img/pic2.jpg" alt="" />
          <p>Special Apple</p>
        </div>
        <div class="menu-box" data-aos="fade-left" data-aos-duration="2000">
          <img src="static/img/pic3.jpg" alt="" />
          <p>Special Banana</p>
        </div>
        <div class="menu-box" data-aos="fade-right" data-aos-duration="2000">
          <img src="static/img/pic4.jpg" alt="" />
          <p>Special Pizza</p>
        </div>
        <div class="menu-box" data-aos="fade-up" data-aos-duration="2000">
          <img src="static/img/pic6.jpg" alt="" />
          <p>Special Salads</p>
        </div>
        <div class="menu-box" data-aos="fade-left" data-aos-duration="2000">
          <img src="static/img/pic7.jpg" alt="" />
          <p>Special Cake</p>
        </div>
      </div>
      <div class="menu-order">
        <a href="/order/" data-aos="flip-down"  data-aos-duration="2000">Order</a>
      </div>

    </section>
      <br>
      <br>
      
    <!-- Footer -->
    {{template "footer" .}}

     

    <!-- Custom Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./static/js/index.js"></script>
  </body>
</html>
