<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    <!--Navigation -->
    {{template "navigation" .}}

    
    <!-- Main -->

      <!-- Menu -->
    <section class="section" id="menu">
      <div class="title">
        <h1>Our Menu</h1>
        <p>If you're looking for a culinary experience that will tantalize 
            your taste buds, look no further than "Our Menu.</p>
        <p>" Featuring a wide variety of dishes crafted from only the freshest 
            ingredients, you're sure to find something that will satisfy 
            your cravings and leave you wanting more.</p>
      </div>
      <div class="container menu-center">
        <div class="menu-box" data-aos="fade-right" data-aos-duration="2000">
          <img src="static/img/pic1.jpg" alt="" />
          <p>Special Beverage</p>
        </div>
        <div class="menu-box" data-aos="fade-down" data-aos-duration="2000">
          <img src="static/img/pic2.jpg" alt="" />
          <p>Special Salads</p>
        </div>
        <div class="menu-box" data-aos="fade-left" data-aos-duration="2000">
          <img src="static/img/pic3.jpg" alt="" />
          <p>Special Salads</p>
        </div>
        <div class="menu-box" data-aos="fade-right" data-aos-duration="2000">
          <img src="static/img/pic4.jpg" alt="" />
          <p>Special Pizza</p>
        </div>
        <div class="menu-box" data-aos="fade-up" data-aos-duration="2000">
          <img src="static/img/pic6.jpg" alt="" />
          <p>Special Salads</p>
        </div>
        <div class="menu-box" data-aos="fade-left" data-aos-duration="2000">
          <img src="static/img/pic7.jpg" alt="" />
          <p>Special Salads</p>
        </div>
      </div>
      <div class="menu-order">
        <a href="/order" data-aos="flip-down"  data-aos-duration="2000">ORDER</a>
      </div>

      
      <br>
      <br>
      
    <!-- Footer -->
    {{template "footer" .}}

     

    <!-- Custom Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./static/js/index.js"></script>
  </body>
</html>
