<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
<body>
<header class="header" id="home">
   {{template "navigation" .}}
	<section class="section" >
		<div class="orderBox">
			<!-- 遍歷每種食物類型 -->
			{{range $foodType, $items := .categorizedMenu}}
			<section>
				<p>{{$foodType}}</p> <!-- 顯示食物類型作為標題 -->
				<table>
					<tr>
						<td>品項</td>
						<td>描述</td>
						<td>單價</td>
						<td>數量</td>
					</tr>
					<!-- 遍歷當前食物類型的所有菜單項目 -->
					{{range $items}}
					<tr>
						<td>{{ .Name }}</td>
						<td>{{ .Description }}</td>
						<td>{{ .Price }}</td>
						<td>
							<input type="number" class="quantity" min="0" value="0" data-price="{{ .Price }}" style="text-align:center;width: 50px;"/>
						</td>
					</tr>
					{{end}}
				</table>
			</section>
			{{end}}
			<section>
				<div>
					<span> 總金額 <span id="totalPrice"></span>元</span> 
					<input type="submit" name="submit" value="放入購物車">
				</div>
			</section>
			
		</div>
	</section>
</header>

	{{template "footer" .}}

	 <!-- Custom Script -->
	 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	 <script src="./static/js/index.js"></script>
	
</body>
</html>
