<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
<body>
<header class="header" id="home">
   {{template "navigation" .}}
    <section class="section">
        <div class="orderBox">
			<!-- 遍歷每種食物類型 -->
            <form action="/submit-order" method="post" id="orderForm">
                {{range $foodType, $items := .categorizedMenu}}
                <div class="foodTypeSection">
                    <p>{{$foodType}}</p>
                    <table class="foodTable">
                        <tr>
                            <td>品項</td>
							<td>描述</td>
							<td>單價</td>
							<td>數量</td>
                        </tr>
                        {{range $index, $item := $items}}
                        <tr>
                            <td>{{ $item.Name }}</td>
                            <td>{{ $item.Description }}</td>
                            <td>{{ $item.Price }}</td>
                            <td>
                                <input type="hidden" name="items[{{$index}}][name]" value="{{ $item.Name }}" />
                                <input type="hidden" name="items[{{$index}}][description]" value="{{ $item.Description }}" />
                                <input type="hidden" name="items[{{$index}}][price]" value="{{ $item.Price }}" />
                                <input type="number" class="quantity" name="items[{{$index}}].quantity" min="0" value="0" data-price="{{ $item.Price }}" />

                            </td>
                        </tr>
                        {{end}}
                    </table>
                </div>
                {{end}}
                <div class="submitSection">
                    <span> 總金額 <span id="totalPrice"></span>元</span>
                    <!-- <button type="submit" >放入購物車</button> -->
                    <button type="button" onclick="submitOrder(); window.location.href='show-orders';">放入購物車</button>
                </div>
            </form>
        </div>
    </section>
</header>

{{template "footer" .}}

<!-- Custom Script -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="./static/js/index.js"></script>

</body>
</html>
