<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
<body>
<header class="header" id="home">
    <img src="/generate-qr" alt="Order QR Code" />
</header>

{{template "footer" .}}

<!-- Custom Script -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="./static/js/index.js"></script>

</body>
</html>
