<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
<body>
<header class="header" id="home">
   {{template "navigation" .}}
    <section class="section">
        <div class="orderBox">
            <h1>訂單資料</h1>

            <table>
                <tr>
                  <th>品名</th>
                  <th>數量</th>
                  <th>價格</th>
                </tr>
                {{range .OrderItems}}
                <tr>
                  <td>{{.Name}}</td>
                  <td>{{.Quantity}}</td>
                  <td>{{.Price}}</td>
                </tr>
                {{end}}
            </table> 
            <!-- <span> 總金額 <span>{{ .totalAmount }}</span>元</span> -->
            <a href="/order/generate-qr">取餐條碼</a>

    </section>
</header>

{{template "footer" .}}

<!-- Custom Script -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="./static/js/index.js"></script>

</body>
</html>
