{{define "navigation"}}
    <!-- Navigation -->
    <nav class="nav">
        <div class="navigation container">
          <div class="logo">
            <a href="/"><h1><span> </span>HealthyFood<span> </span></h1></a>
          </div>

          <div class="menu">
            <div class="top-nav">
              <div class="logo">
                <h1>FastFood<span>.</span></h1>
              </div>
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
            </div>

            {{if .AuthRequired}}
            <div>
              <span>hello {{.UserName}}</span>
              <ul class="nav-list">
                <li class="nav-item">
                  <a href="/menu" class="nav-link scroll-link">Menu</a>
                </li>
                <li class="nav-item">
                  <a href="/order" class="nav-link scroll-link"
                    >Manager</a>
                </li>
                <li class="nav-item">
                  <a href="#contact" class="nav-link scroll-link">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="/user/login" class="nav-link scroll-link">{{.name}}</a>
                </li>
                  <form action="/user/logout" method="post">
                    <input type="submit" name="" value="LOGOUT">
                  </form>
              </ul>
            </div>
            {{else}}
            <div>
              <ul class="nav-list">
                <li class="nav-item">
                  <a href="/login" class="nav-link scroll-link">{{.auth}}</a>
                </li>
              </ul>
            </div>
            {{end}}
          </div>

          <div class="hamburger">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>

{{end}}