{{define "navigation"}}
    <!-- Navigation -->
    <nav class="nav">
        <div class="navigation container">
          <div class="logo">
            <a href="/home"><h1><span> </span>HealthyFood<span> </span></h1></a>
          </div>

          <div class="menu">
            <div class="top-nav">
              <div class="logo">
                <h1>FastFood<span>.</span></h1>
              </div>
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
            </div>

            <ul class="nav-list">
              <li class="nav-item">
                <a href="/home" class="nav-link scroll-link">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a href="/templates/about.tmpl" class="nav-link scroll-link">About</a>
              </li> -->
              <li class="nav-item">
                <a href="/menu" class="nav-link scroll-link">Menu</a>
              </li>
              <li class="nav-item">
                <a href="#testimonials" class="nav-link scroll-link"
                  >Manager</a>
              </li>
              <li class="nav-item">
                <a href="#contact" class="nav-link scroll-link">Contact</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link scroll-link">Longin</a>
              </li>
            </ul>
          </div>

          <div class="hamburger">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>

{{end}}