{{define "navlogin"}}
    <!-- Navigation -->
    <nav class="nav">
        <div class="navigation container">
          <div class="logo">
            <a href="/"><h1><span> </span>HealthyFood<span> </span></h1></a>
          </div>

          <div class="menu">
            <div class="top-nav">
              <div class="logo">
                <h1>FastFood<span>.</span></h1>
              </div>
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
            </div>  
          </div>

          <div class="hamburger">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>

{{end}}